<header>
    <title>{{Title}}</title>
    <h1> Page Title:{{Title}}</h1>
    <p> <a  href="/" >Home</a></p>
    <p> <a  href="/about" >About</a></p>
    <p> <a  href="/projects" >Prjects tab</a></p>
</header>